# CAP couponmap
_out
*.db
*.sqlite
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/
*test/
/dist

# MTA
*_mta_build_tmp

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

# @cap-js/cds-typer
@cds-models

# auto generated wildcard
.env
app/bigstores/dist/bigstores.zip
app/bigstores/dist/bigstores.zip
app/bigstores/dist/sap-ui-cachebuster-info.json
app/bigstores/dist/bigstores.zip
app/bigstores/dist/Component-preload.js
app/bigstores/dist/manifest.json
